@media(min-width:320px){
    .col{
        width:100%;
    }
    .image{
        top:20%;
        left:60%;
    }
    
}

@media(min-width:720px){
    .col{
        width:50%;
        margin: auto;
    }
    .row{
        /* display: flex; */
    }
    .image{
        top:35%;
        left:60%;
    }
}

@media(min-width:960px){
    .col{
        width:33.33%;
    }
    .row{
        display: flex;
    }
    .image{
        top:55%;
        left:65%;
    }
}